- provide(:title, 'Help') 
%h1 Help
%p
  Get help on the Ruby on Rails Tutorial at the 
  = link_to "Ruby Tutorial help page", "http://railstutorial.org/help"
  To get help on the sample app, see the
  = link_to "Rails Tutorial book"
