- if signed_in?
  .row
    %aside.span4
      %section
        = render 'shared/user_info'
      %section
        = render 'shared/stats'
      %section
        = render 'shared/micropost_form'
    .span8
      %h3 Micropost Feed
      = render 'shared/feed'
- else
  .center.hero-unit
    %h1 Welcome to the Sample App

    %h2
      This is the home page for the
      = link_to "Ruby on Rails Tutorial", "http://railstutorial.org"
      sample application.

    = link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary"

  = link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/'
