- provide(:title, 'Edit user')
%h1 Update your profile

.row
  .span6.offset3
    = form_for(@user) do |f|
      = render 'shared/error_messages', object: f.object

      = f.label :name
      = f.text_field :name

      = f.label :email
      = f.text_field :email

      = f.label :password
      = f.password_field :password

      = f.label :password_confirmation, "Confirm Password"
      = f.password_field :password_confirmation

      = f.submit "Save changes", class: "btn btn-large btn-primary"

    = gravatar_for @user
    = link_to "change", "https://gravatar.com/emails"
