@import "bootstrap"

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea

@mixin box_sizing
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

/* universal */
html 
  overflow-y: scroll

body
  padding-top: 60px

section
  overflow: auto

textarea
  resize: vertical

.center
  text-align: center
  h1
    margin-bottom: 10px

/* typography */

h1, h2, h3, h4, h5, h6
  line-height: 1

h1 
  font-size: 3em
  letter-spacing: -2px
  margin-bottom: 30px
  text-align: center

h2
  font-size: 1.2em
  letter-spacing: -1px
  margin-bottom: 30px
  text-align: center
  font-weight: normal
  color: $grayLight

p
  font-size: 1.1em
  line-height: 1.7em

#logo
  float: left
  margin-right: 10px
  font-size: 1.7em
  color: white
  text-transform: uppercase
  letter-spacing: -1px
  padding-top: 9px
  font-weight: bold
  line-height: 1
  &:hover
    color: white
    text-decoration: none

/* footer */

footer 
  margin-top: 45px
  padding-top: 5px
  border-top: 1px solid $grayMediumLight
  color: $grayLight
  a
    color: $gray
    &:hover
      color: $grayDarker
  small
    float: left
  ul
    float: right
    list-style: none
    li
      float: left
      margin-left: 10px

/* sidebar */

aside
  section
    padding: 10px 0
    border-top: 1px solid $grayLighter
    &:first-child
      border: 0
      padding-top: 0

    span
      display: block
      margin-bottom: 3px
      line-height: 1

    h1
      font-size: 1.4em
      text-align: left
      letter-spacing: -1px
      margin-bottom: 3px
      margin-top: 0px

.gravatar
  float: left
  margin-right: 10px

.stats
  overflow: auto
  a 
    float: left
    padding: 0 10px
    border-left: 1px solid $grayLighter
    color: gray
    &:first-child
      padding-left: 0
      border: 0
    &:hover
      text-decoration: none
      color: $blue
  strong
    display: block

.user_avatars
  overflow: auto
  margin-top: 10px
  .gravatar
    margin: 1px 1px

/* form */

input, textarea, select, .uneditable-input
  border: 1px solid #bbb
  width: 100%
  margin-bottom: 15px
  @include box_sizing

input
  height: auto !important

#error_explanation
  color: #f00
  ul
    list-style: none
    margin: 0 0 18px 0

.field_with_errors
  @extend .control-group
  @extend .error

/* Users index */
.users
  list-style: none
  margin: 0
  li
    overflow: auto
    padding: 10px 0
    border-top: 1px solid $grayLighter
    &:last-child
      border-bottom: 1px solid $grayLighter

/* microposts */
.microposts
  list-style: none
  margin: 10px 0 0
  li
    padding: 10px 0
    border-top: 1px solid #e8e8e8

.content
  display: block

.timestamp
  color: $grayLight

.gravatar
  float: left
  margin-right: 10px

aside
  textarea
    height: 100px
    margin-bottom: 5px      

/* miscellaneous */
.debug_dump
  clear: both
  float: left
  width: 100%
  margin-top: 45px
  @include box_sizing
